<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    backupGlobals="false"
    backupStaticAttributes="false"
>
    <testsuites>
        <testsuite name="bdvs-password-reset">
            <directory prefix="test-" suffix=".php">tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="vendor/yoast/phpunit-polyfills"/>
        <env name="WP_PHPUNIT__DIR" value="vendor/wp-phpunit/wp-phpunit"/>
    </php>
</phpunit>
